@media only screen and (min-width: 38rem) {

    header,
    main,
    footer, nav {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid var(--primary-color);
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .info {
        display: flex;
    }

    .footer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

}