@media only screen and (min-width: 38rem) {

    header,
    main,
    footer,
    nav {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid var(--primary-color);
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .homeInfo {
        grid-template-columns: minmax(250px, 2fr) minmax(120px, 1fr) minmax(120px, 1fr);
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #level-details {
        width: 40%;
    }

    .footer {
        display: grid;
        grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr) minmax(160px, 1fr);
    }

    .footer .timeInfo,
    .footer .address {
        text-align: start;
    }

    .areaCard {
        grid-template-areas:
            "photograph name"
            "photograph description"
            "photograph address";
    }

    .areas img {
        width: 300px;
    }
}