:root {
    --primary-color: #23689d;
    --secondary-color: #2b5b02;
    --accent-color: #f0f0f0;
    --accent-color2: #ffdf99;
    --font-family: 'Roboto', 'Arial', sans-serif;
    --font-family2: 'Montserrat', 'Arial', sans-serif;
}

/* ************************* SITE WIDE ************************* */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

h1 {
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-family: var(--font-family);
    padding: 8px;
    font-size: 1.6rem;
    padding-left: 15px;
}

h2 {
    color: var(--primary-color);
    padding: 10px;
    font-family: var(--font-family);
}

/* ************************* HEADER **************************** */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    margin: 5px 0 5px 10px;
    padding: 10px;
    column-gap: 8px;
    align-items: end;
    border-bottom: solid 1px var(--primary-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    color: var(--primary-color);
    font-size: 1.4rem;
}

/* ************************* NAVIGATION ************************ */

.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7"
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    color: var(--primary-color);
    display: block;
    padding: .5rem 10px;
    text-decoration: none;
    border-bottom: 1px solid var(--primary-color);
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: rgba(225, 223, 153, 0.3);
    transition: transform 0.2s ease-in-out;
    font-size: 1.1rem;
}

/* ************************* MAIN **************************** */

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gridButton {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px;
    color: var(--primary-color);
    font-size: .7rem;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gridButton:hover {
    background-color: rgba(225, 223, 153, 0.3);
    transition: transform 0.2s ease-in-out;
    font-size: 0.75rem;
}

.gridButton::before {
    content: "Grid View";
}

.gridButton.show::before {
    content: "List View";
}

.join {
    display: flex;
    flex-direction: column;
}

.join p {
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

.join-btn {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.6rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 6px;
    margin: auto;
    margin-bottom: 15px;
    background-color: rgba(225, 223, 153, 0.3);
}

.join-btn:hover {
    transition: transform 0.2s ease-in-out;
    font-size: 1.7rem;
}

.homeInfo {
    display: grid;
    grid-template-columns: 1fr;
}

.homeInfo section {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.homeInfo section h2 {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.5rem;
    padding: 10px;
    font-family: var(--font-family);
    margin-bottom: 8px;
}

.homeInfo p {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-left: 8px;
    padding: 2px;
    font-family: var(--font-family2);
}

.weather {
    position: relative;
}

.weather img {
    position: absolute;
    top: 45px;
    right: 0px;
}

.spotlight {
    margin-top: 40px;
    border-top: 1px solid var(--primary-color);
    text-align: center;
}

.members {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.memberCard h2 {
    width: 220px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 6px;
    border-radius: 8px;
    font-family: var(--font-family);
    margin-bottom: 10px;
}

.memberCard {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    padding: 10px;
    margin: 10px;
}

.memberCard p {
    margin: 2px;
    font-family: var(--font-family2);
}

.memberCard img {
    margin: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    max-width: 100%;
    height: auto;
    aspect-ratio: 200 / 112;
    display: none;
}

.members.show {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.members.show .memberCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.members.show .memberCard h2 {
    width: 100%;
}

.members.show .memberCard img {
    display: block;
    border-top: 1px solid var(--primary-color);
    margin-right: 0;
}

/* ************************* Join page *************************** */

.grid-container {
    display: block;
    padding: 20px;
}

.grid-container section.join {
    margin-bottom: 20px;
}

.grid-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.join {

    grid-template-columns: 1fr 1fr;
}

.join h3 {
    margin-top: 12px;
    color: var(--primary-color)
}

fieldset {
    border: none;
    margin-top: 10px;
}

legend {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.radio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.radio label {
    display: flex;
    align-items: center;
    margin: 2px;
}

.submit-btn {
    align-self: center;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 15px auto;
    padding: 4px;
}

.submit-btn:hover {

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 1.05rem;
}

.formDesign label,
input:not([type="radio"]),
textarea {
    display: block;
    padding: 3px;
    margin-left: 10px;
    width: 90%;
    box-sizing: border-box;
}

.levelCards {
    line-height: 16px;
}

.levelCards li {
    list-style: none;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    justify-self: center;
    margin-bottom: 20px;
    animation: fadeInAndUp .7s ease-in;
}

@keyframes fadeInAndUp {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.levelCards h3 {
    padding: 3px;
    color: var(--primary-color);

}

.levelCards p {
    font-size: 16px;
    color: black;
}

.levelCards button {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
}

.levelCards button:hover {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 1.05rem;
}

#level-details {
    width: 80%;
    position: relative;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
}

#level-details button {
    position: absolute;
    right: 20px;
    border: none;
}

#level-details h3 {
    font-size: 1.5rem;
}

#level-details p,
h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* ************************* Thank You page *************************** */

.results {
    color: var(--primary-color);

}

.results p {
    text-align: center;
    margin-bottom: 4px;
    /* font-size: 1.2rem; */

}

.thankyou {
    font-size: 1.8rem;
    padding: 1rem;
}

.results ul li {
    list-style: none;
    margin-left: 30px;
    padding: 5px;
    font-size: 1.3rem;
}

.result {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
}

.results a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    margin-bottom: 20px;
}

.results a:hover {
    transition: transform 0.2s ease-in-out;
    font-size: 1.03rem;
    text-decoration: underline;
}

/* ************************* FOOTER *************************** */

.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 20px;
    text-align: center;
}

.footer h3 {
    font-size: 1.25rem;
}

.footer .timeInfo,
footer .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    line-height: 1.5rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.social a img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.social a:hover {
    transform: scale(1.3);
}