@media only screen and (min-width: 38rem) {

    header,
    main,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    #cards {
        /* grid-template-columns: 1fr 1fr 1fr; */
        gap: 30px;
    }

    #cards section img {
        padding: 20px;
    }
}